<div ng-controller="TopBarController as topbar" ng-include="'client/lib/views/partials/topbar.html'"></div>
<div data-autoscroll="false" data-ui-view="" style="height:100%"></div>
<div ng-controller="SideNavController as sidenav" ng-include="'client/lib/views/partials/sidenav.html'"></div>
