<head>
    <base href="/">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
</head>

<body style="margin:0">
    <div ng-app="smsSender" ng-strict-di>
        <div data-autoscroll="false" data-ui-view="" style="height:100%"></div>
    </div>
</body>
