<div ng-cloak>
    <md-content ng-init="">
        <md-card style="margin-left: 10%;margin-right: 10%;margin-top: 5%;">
            <md-tabs md-border-bottom md-dynamic-height>
                <md-tab label="List" md-active="resourceUploads.tabListState">
                    <md-content class="md-padding">
                        <span ng-show="resourceUploads.showListProgresBar" style="position: inherit;bottom: 15px;">
                            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                        </span>
                        <div ng-include="'client/modules/resource/views/partials/resource-uploads-list.html'"></div>
                        <span style="float:right">
                            <accountsToastSuccess></accountsToastSuccess>
                        </span>
                    </md-content>
                </md-tab>
                <md-tab label="New" md-on-deselect="resourceUploads.clearForm()">
                    <md-content class="md-padding">
                        <span ng-show="resourceUploads.showNewProgresBar" style="position: inherit;bottom: 15px;">
                            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                        </span>
                        <div ng-include="'client/modules/resource/views/partials/resource-uploads-form.html'"></div>
                        <span style="float:right">
                            <accountsToastError></accountsToastError>
                        </span>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card>
    </md-content>
</div>
