<md-content layout-padding ng-controller="AccessFormController as access">
    <form name="accessPasswordChangeForm">
        <md-input-container class="md-block">
            <label>Old Password</label>
            <input maxlength="16" minlength="5" name="password" ng-model="access.passwordOld" required type="password">
            <div ng-messages="accessPasswordChangeForm.password.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    Please enter a old password
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>New Password</label>
            <input maxlength="16" minlength="5" name="password" ng-model="access.passwordNew" required type="password">
            <div ng-messages="accessPasswordChangeForm.password.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    Please enter a old password
                </div>
            </div>
        </md-input-container>
        <md-button class="md-raised " ng-click="access.saveNewPassword()" ng-if="accessPasswordChangeForm.password.$valid">Save</md-button>
        <md-button class="md-raised " ng-click="access.cancelChangePassword()">Cancel</md-button>
    </form>
</md-content>
<div id="userToast"></div>
