<md-content layout-padding ng-controller="AccessFormController as access">
    <div ng-hide="$auth.currentUser">
        <form name="accessUserForm">
            <div ng-show="$auth.loggingIn">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
            <md-input-container class="md-block">
                <label>Email</label>
                <input maxlength="100" minlength="10" name="email" ng-model="access.email" ng-pattern="/^.+@.+\..+$/" required type="email"/>
                <div ng-messages="accessUserForm.email.$error" role="alert">
                    <div ng-message-exp="[ 'minlength', 'maxlength', 'pattern']">
                        Please enter a valid email
                    </div>
                </div>
                <div ng-messages="accessUserForm.email.$valid" role="alert"></div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input maxlength="16" minlength="5" name="password" ng-model="access.password" required type="password">
                <div ng-messages="accessUserForm.password.$error">
                    <div ng-message-exp="[ 'minlength', 'maxlength']">
                        Please enter a valid password
                    </div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="access.submit()" ng-if="accessUserForm.email.$valid &&accessUserForm.password.$valid" type="submit">
                Login
            </md-button>
        </form>
    </div >
    <div ng-show="$auth.currentUser">
        <md-button class="md-raised " ng-click="access.logout()">Logout</md-button>
        <md-button ng-click="access.changePassword()">change password</md-button>
    </div>
</md-content>
<div id="userToast"></div>
