<md-sidenav class="md-sidenav-left  md-whiteframe-z2" md-component-id="left" ng-cloak="">
    <md-button ng-click="sidenav.close('left')">
        Close
    </md-button>
    <md-content>
        <md-list>
            <md-divider ></md-divider>
            <md-subheader class="md-no-sticky">Messaging</md-subheader>
            <md-list-item class="md-1-line" layout-fill layout="column">
                <!-- <md-button ng-click="sidenav.stateGo('app.smssender.records')" style="width:100%;margin:0;padding-left:100px;text-align: left;">
                    <small>Send SMS</small>
                </md-button> -->
                <md-button ng-click="sidenav.stateGo('app.smssender.records')" style="width:100%;margin:0;padding-left:100px;text-align: left;">
                    <small>Records</small>
                </md-button>
            </md-list-item>
            <md-divider ></md-divider>
            <md-subheader class="md-no-sticky" ng-if="sidenav.isAdmin || sidenav.isSuper">Accounts</md-subheader>
            <md-list-item class="md-1-line">
                <md-button ng-click="sidenav.stateGo('app.accounts.list')" style="width:100%;margin:0;padding-left:100px;text-align: left;">
                    <small>Users</small>
                </md-button>
            </md-list-item>
            <md-divider ></md-divider>
            <md-subheader class="md-no-sticky" ng-if="sidenav.isAdmin || sidenav.isSuper">Signage</md-subheader>
            <md-list-item class="md-1-line">
                <md-button ng-click="sidenav.stateGo('app.signage')" style="width:100%;margin:0;padding-left:100px;text-align: left;">
                    <small>Settings</small>
                </md-button>
            </md-list-item>
            <md-divider ></md-divider>
            <md-subheader class="md-no-sticky" ng-if="sidenav.isAdmin || sidenav.isSuper">Resource</md-subheader>
            <md-list-item class="md-1-line">
                <md-button ng-click="sidenav.stateGo('app.resource')" style="width:100%;margin:0;padding-left:100px;text-align: left;">
                    <small>Uploads</small>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>

<md-sidenav class="md-sidenav-right  md-whiteframe-z2" md-component-id="right">
    <md-button class="md-flat" ng-click="sidenav.close('right')">
        Close
    </md-button>
    <div ng-controller="AccessFormController as access">

    <div accessform="access.templateUrl"></div>
    <!-- <accessform></accessform> -->

  </div>
</md-sidenav>
