<md-toolbar>
    <div class="md-toolbar-tools">
        <span>SMS Sender</span>
        <md-button ng-if="topbar.menuIsEnable" ng-click="topbar.sidenavToggle('left')">
            Menu
        </md-button>
        <span flex></span>
        <md-button ng-click="topbar.sidenavToggle('right')">
            <div class="md-subhead ng-cloak" ng-show="$auth.currentUser">
              {{topbar.email}}
            </div>
            <div ng-hide="$auth.currentUser">
              Login
            </div>
        </md-button>
    </div>
</md-toolbar>
