<form id="signageSettingsForm" name="signageSettingsForm">
    <div>
        <div layout="row">
            <md-input-container class="md-block" flex="30">
                <label>Group</label>
                <input maxlength="15" minlength="5" name="group" ng-blur="signageSettings.isEmpty()" ng-model="signageSettings.form.group" required type="text"/>
                <div ng-messages="signageSettingsForm.group.$error" role="alert">
                    <div ng-message-exp="[ 'minlength', 'maxlength', 'pattern']">
                        Please enter a valid group
                    </div>
                </div>
                <div ng-messages="signageSettingsForm.name.$valid" role="alert"></div>
            </md-input-container>
            <div flex="5" hide-sm hide-xs>
                <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input maxlength="15" minlength="5" name="name" ng-blur="signageSettings.isEmpty()" ng-model="signageSettings.form.name" required type="text"/>
                <div ng-messages="signageSettingsForm.name.$error" role="alert">
                    <div ng-message-exp="[ 'minlength', 'maxlength', 'pattern']">
                        Please enter a valid name
                    </div>
                </div>
                <div ng-messages="signageSettingsForm.name.$valid" role="alert"></div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Width (px)</label>
                <input max="4999" min="100" name="width" ng-blur="signageSettings.isEmpty()" ng-model="signageSettings.form.width" ng-pattern="/^[0-9]{1,4}$/" required type="number">
                <div ng-messages="signageSettingsForm.width.$error">
                    <div ng-message-exp="[ 'min', 'max']">
                        Please enter a valid width
                    </div>
                </div>
            </md-input-container>
            <div flex="5" hide-sm hide-xs>
                <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Height (px)</label>
                <input max="4999" min="100" name="height" ng-blur="signageSettings.isEmpty()" ng-model="signageSettings.form.height" ng-pattern="/^[0-9]{1,4}$/" required type="number">
                <div ng-messages="signageSettingsForm.height.$error">
                    <div ng-message-exp="[ 'min', 'max']">
                        Please enter a valid height
                    </div>
                </div>
            </md-input-container>
            <div flex="5" hide-sm hide-xs>
                <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex-gt-sm hide-sm hide-xs>
                <!-- Spacer //-->
            </md-input-container>

        </div>
        <div layout="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Position/Top (px)</label>
                <input max="4999" min="0" name="positionTop" ng-blur="signageSettings.isEmpty()" ng-model="signageSettings.form.positionTop" ng-pattern="/^[0-9]{1,4}$/" required type="number">
                <div ng-messages="signageSettingsForm.positionTop.$error">
                    <div ng-message-exp="[ 'min', 'max']">
                        Please enter a top position
                    </div>
                </div>
            </md-input-container>
            <div flex="5" hide-sm hide-xs>
                <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Position/Left (px)</label>
                <input max="4999" min="0" name="positionLeft" ng-blur="signageSettings.isEmpty()" ng-model="signageSettings.form.positionLeft" ng-pattern="/^[0-9]{1,4}$/" required type="number">
                <div ng-messages="signageSettingsForm.positionLeft.$error">
                    <div ng-message-exp="[ 'min', 'max']">
                        Please enter a valid right position
                    </div>
                </div>
            </md-input-container>

            <div flex="5" hide-sm hide-xs>
                <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Z-Index</label>
                <input max="4999" min="1" name="zIndex" ng-blur="signageSettings.isEmpty()" ng-model="signageSettings.form.zIndex" ng-pattern="/^[0-9]{1,4}$/" required type="number">
                <div ng-messages="signageSettingsForm.zIndex.$error">
                    <div ng-message-exp="[ 'min', 'max']">
                        Please enter a valid Z Index
                    </div>
                </div>
            </md-input-container>

        </div>
        <div layout="row">
            <!-- <md-input-container class="md-block" flex-gt-sm>
                <label>Resource</label>
                <input maxlength="100" minlength="5" name="resource" ng-blur="signageSettings.isEmpty()" ng-model="signageSettings.form.resource" required type="text"/>
                <div ng-messages="signageSettingsForm.resource.$error" role="alert">
                    <div ng-message-exp="[ 'minlength', 'maxlength']">
                        Please enter a valid resource
                    </div>
                </div>
                <div ng-messages="signageSettingsForm.name.$valid" role="alert"></div>
            </md-input-container> -->


            <md-input-container flex="30">
                <label>Select Resource</label>
                <md-select ng-change="signageSettings.selectWebfile()"  ng-model="signageSettings.selectedWebFileIndex" required>
                    <md-option ng-repeat="webfile in signageSettings.webFiles" value="{{$index}}">
                        <span>{{webfile.original.name}}</span>
                    </md-option>
                </md-select>
            </md-input-container>
            <div flex="5" hide-sm hide-xs>
                <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <!-- Spacer //-->
            </md-input-container>
            <div flex="5" hide-sm hide-xs>
                <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex-gt-sm hide-sm hide-xs>
                <!-- Spacer //-->
            </md-input-container>

        </div>
    </div>
    <md-button class="md-raised md-primary" ng-click="signageSettings.submit();signageSettings.formObj=signageSettingsForm" ng-if="signageSettingsForm.$valid" type="submit">
        {{signageSettings.form.action}}
    </md-button>
</form>
