<div layout="row" style="padding-left:20px">
    <md-input-container flex="30">
        <label>Select Group</label>
        <md-select ng-change="signageSettings.refreshIframeList()" ng-model="signageSettings.selectedGroup">
            <md-option ng-repeat="group in signageSettings.iFramesGroupNames" value="{{group}}">
                <span style="padding:10px">{{group}}</span>
            </md-option>
        </md-select>
    </md-input-container>
</div>
<md-virtual-repeat-container id="vertical-container">
    <div ng-show="!!signageSettings.selectedGroup">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools" layout="row" style="padding-left:2%;">
              <span flex="20">name</span>
              <span flex="15">HxW(px)</span>
              <span flex="15">Pos(px)</span>
              <span flex="15">Z-Index</span>
              <span flex="15">Type</span>
              <span flex="10">
                  <!-- Spacer //-->
              </span>

                <span flex="5">
                    <!-- Spacer //-->
                </span>
            </div>
        </md-toolbar>
    </div>
    <div class="repeated-item" flex md-virtual-repeat="iframe in signageSettings.iFramesGroupList">
        <div class="md-list-item-text" style="padding-top:20px">
            <span layout="row" style="padding-left:2%">
              <span flex="20">{{iframe.name}}</span>
              <span flex="15">{{iframe.height}}x{{iframe.width}}</span>
              <span flex="15">{{iframe.positionTop}},{{iframe.positionLeft}}</span>
              <span flex="15">{{iframe.zIndex}}</span>
              <span flex="15">{{iframe.resourceType}}</span>
              <span flex="10">
                  <!-- Spacer //-->
              </span>

                <span flex="5">
                    <div ng-include="'client/modules/signage/views/partials/signage-settings-list-menu.html'"></div>
                </span>
            </span>
        </div>
    </div>
</md-virtual-repeat-container>
