<head>
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="jquery-2.2.0.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="marquee.js"></script>
    <script src="app.js"></script>

</head>
<body ng-app="smsIframeApp">
    <div id="smsInfo" ng-controller="SMSInfoController as smsInfo">
        <div angular-marquee scroll="scroll" duration="duration" style="width:100%;">
            <h1>{{smsInfo.messages.content}}</h1>
        </div>
    </div>
</body>
