 #vertical-container {
     height: 292px;
 }
 .repeated-item {
     border-bottom: 1px solid #ddd;
     box-sizing: border-box;
     height: 60px;
     padding-top: 10px;
 }
 md-content {
     margin: 16px;
 }
 /*md-virtual-repeat-container {
     border: solid 1px grey;
 }*/
 .md-virtual-repeat-container .md-virtual-repeat-offsetter {
     padding-left: 16px;
     padding-right: 16px;
 }
