<div ng-cloak>
    <md-content ng-init="accounts.form.type='User'">

        <md-card style="margin-left: 10%;margin-right: 10%;margin-top: 5%;">
            <md-content ng-if="accounts.isSuper">
                <md-radio-group layout-align="end" layout="row" ng-change="accounts.tabNewRefresh()" ng-model="accounts.form.type">
                    <md-radio-button class="md-primary" value="User">User</md-radio-button>
                    <md-radio-button class="md-primary" value="Device">Device</md-radio-button>
                </md-radio-group>
            </md-content>
            <md-tabs md-border-bottom md-dynamic-height>
                <md-tab label="List" md-active="accounts.tabListState">
                    <md-content class="md-padding" layout-fill layout="column" ng-if="accounts.form.type === 'User'">
                        <md-virtual-repeat-container id="vertical-container">
                            <div layout="row" class="repeated-item" flex md-virtual-repeat="user in accounts.allUsers">
                                <span class="md-list-item-text" flex="75">
                                    <h3 style="padding-left:2%">
                                        {{user.emails[0].address}}
                                        <small ng-if="user.isAdmin" style="float:right;padding-right:2%">Admin</small>
                                    </h3>
                                </span>
                                <span flex="20"></span>
                                <span flex="5">
                                    <div ng-include="'client/modules/accounts/views/partials/accounts-user-list-menu.html'"></div>
                                </span>
                            </div>
                        </md-virtual-repeat-container>
                        <span style="float:right">
                            <accountsToastSuccess></accountsToastSuccess>
                        </span>
                    </md-content>
                    <md-content class="md-padding" layout-fill layout="column" ng-if="accounts.form.type === 'Device'">
                        <md-virtual-repeat-container id="vertical-container">
                            <div layout="row" class="repeated-item" flex md-virtual-repeat="device in accounts.allDevices">
                                <span class="md-list-item-text" flex="85">
                                    <h3 style="padding-left:2%">
                                        {{device.username}}
                                        <small style="float:right;padding-right:2%;font-weight: lighter;">
                                            <span>
                                                Token:
                                            </span>
                                            {{device.token}}
                                          </small>
                                    </h3>
                                </span>
                                <span flex="10"></span>
                                <span flex="5">
                                    <div ng-include="'client/modules/accounts/views/partials/accounts-device-list-menu.html'"></div>
                                </span>
                            </div>
                        </md-virtual-repeat-container>
                        <span style="float:right">
                            <accountsToastSuccess></accountsToastSuccess>
                        </span>
                    </md-content>
                </md-tab>
                <md-tab label="New">
                    <md-content class="md-padding">
                        <span ng-show="accounts.showProgresBar" style="position: inherit;bottom: 15px;">
                            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                        </span>
                        <form id="accountsForm" name="accountsForm">
                            <div ng-if="accounts.form.type === 'User'">
                                <md-input-container class="md-block">
                                    <label>Email</label>
                                    <input maxlength="100" minlength="10" name="email" ng-blur="accounts.isEmpty()" ng-model="accounts.form.email" ng-pattern="/^.+@.+\..+$/" required type="email"/>
                                    <div ng-messages="accountsForm.email.$error" role="alert">
                                        <div ng-message-exp="[ 'minlength', 'maxlength', 'pattern']">
                                            Please enter a valid email
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Password</label>
                                    <input maxlength="16" minlength="5" name="password" ng-blur="accounts.isEmpty()" ng-model="accounts.form.password" required type="password">
                                    <div ng-messages="accountsForm.password.$error">
                                        <div ng-message-exp="[ 'minlength', 'maxlength']">
                                            Please enter a valid password
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-checkbox aria-label="Admin" class="md-primary" ng-model="accounts.form.isAdmin">
                                    Admin
                                </md-checkbox>
                            </div>

                            <div ng-if="accounts.form.type === 'Device'">
                                <md-input-container class="md-block">
                                    <label>Name</label>
                                    <input maxlength="16" minlength="5" name="username" ng-blur="accounts.isEmpty()" ng-model="accounts.form.username" required type="text">
                                    <div ng-messages="accountsForm.username.$error">
                                        <div ng-message-exp="[ 'minlength', 'maxlength']">
                                            Please enter a valid device name
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>

                            <md-button class="md-raised md-primary" ng-click="accounts.submit()" ng-if="accountsForm.$valid" type="submit">
                                Add
                            </md-button>
                        </form>
                        <span style="float:right">
                            <accountsToastError></accountsToastError>
                        </span>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card>
    </md-content>
</div>
