<form id="formContainer" ng-controller="ResourceUploadsFormController as resourceUploadsForm" name="formContainer">
    <div layout="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Label</label>
            <input maxlength="15" minlength="5" name="label" ng-model="resourceUploadsForm.form.label" required type="text"/>
            <div ng-messages="resourceUploadsForm.label.$error" role="alert">
                <div ng-message-exp="[ 'minlength', 'maxlength']">
                    Please enter a valid label
                </div>
            </div>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex-gt-sm>
            <md-button ng-if="formContainer.$valid" class="md-raised md-primary" ngf-select="resourceUploadsForm.uploadFiles($files)" ngf-multiple="true" ngf-accept="'image/*,audio/*,video/*,text/html,text/css'">
                Select Files
            </md-button>
        </md-input-container>
    </div>
    <div ng-show="resourceUploadsForm.newWebFileslist.length > 0">
        {{resourceUploadsForm.newWebFileslist.length}}
        new file(s) uploaded:
    </div>
    <div layout="row" layout-fill style="padding-left:2%">
        <md-list>
            <md-list-item ng-repeat="webfile in resourceUploadsForm.newWebFileslist">
                <div class="md-list-item-text" style="padding-top:20px">
                    <div flex>file:
                        {{webfile.name}}</div>
                    <div flex>type:
                        {{webfile.type}}</div>
                    <div flex>size:
                        {{webfile.size}}</div>
                </div>
            </md-list-item>
        </md-list>
    </div>

</form>
