<div layout="row" style="padding-left:20px">
    <!-- <md-input-container flex="30">
        <label>Select Group</label>
        <md-select ng-change="resourceUploads.refreshIframeList()" ng-model="resourceUploads.selectedGroup">
            <md-option ng-repeat="group in resourceUploads.iFramesGroupNames" value="{{group}}">
                <span style="padding:10px">{{group}}</span>
            </md-option>
        </md-select>
    </md-input-container> -->
</div>
<md-virtual-repeat-container id="vertical-container">
    <!-- <div ng-show="!!resourceUploads.selectedGroup"> -->
    <div>

        <!-- </div> -->
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools" layout="row" style="padding-left:2%;">
                <span flex="20">name</span>
                <span flex="15">label</span>
                <span flex="20">type</span>
                <span flex="20">id</span>
                <span flex="20"></span>
                <span flex="5"></span>
            </div>
        </md-toolbar>
    </div>
    <!-- {{resourceUploads.webFiles[0].metadata.label}}
        {{resourceUploads.webFiles[0].url()}} -->
    <div class="repeated-item" ng-repeat="webFile in resourceUploads.webFiles">
        <div class="md-list-item-text" style="padding-top:20px">
            <span layout="row" style="padding-left:2%">
                <span flex="20">{{webFile.original.name}}</span>
                <span flex="15">{{webFile.metadata.label}}</span>
                <span flex="20">{{webFile.original.type}}</span>
                <span flex="20">{{webFile._id}}</span>
                <span flex="20"></span>
                <span flex="5">
                    <div ng-include="'client/modules/resource/views/partials/resource-uploads-list-menu.html'"></div>
                </span>
            </span>
        </div>
    </div>
</md-virtual-repeat-container>
