<md-menu md-position-mode="target-right target">
    <button class="md-icon-button" ng-click="resourceUploads.openListMenu($mdOpenMenu, $event)"></button>
    <md-menu-content width="3">
        <!-- <md-menu-item> -->
            <!-- <md-button ng-click="resourceUploads.editIframe($index)"> -->
                <!-- <md-icon md-menu-align-target md-svg-icon="call:dialpad"></md-icon> -->
                <!-- Edit -->
            <!-- </md-button> -->
        <!-- </md-menu-item> -->
        <md-menu-item>
            <md-button ng-click="resourceUploads.deleteIframe($index,$event)">
                <!-- <md-icon md-menu-align-target md-svg-icon="call:dialpad"></md-icon> -->
                Delete
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
