<md-dialog style="width:100%;">
        <md-content class="md-padding" >
            <span ng-show="resourceUploads.showNewProgresBar" style="position: inherit;bottom: 15px;">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </span>
            <div ng-include src="'client/modules/resource/views/partials/resource-uploads-form.html'"></div>
            <span style="float:right">
                <accountsToastError></accountsToastError>
            </span>
        </md-content>


</md-dialog>
