<md-menu md-position-mode="target-right target">
    <button class="md-icon-button" ng-click="accounts.openUserListMenu($mdOpenMenu, $event)" style="position:relative;top:20px;"></button>
    <md-menu-content width="3">
        <md-menu-item>
            <md-button ng-click="accounts.deleteUser($index,$event)">
                Delete
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
