<div ng-cloak>
    <md-content ng-init="">
        <md-card style="margin-left: 10%;margin-right: 10%;margin-top: 5%;">
            <md-tabs md-border-bottom md-dynamic-height>
                <md-tab label="List" md-active="signageSettings.tabListState">
                    <md-content class="md-padding">
                        <span ng-show="signageSettings.showListProgresBar" style="position: inherit;bottom: 15px;">
                            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                        </span>
                        <div ng-include="'client/modules/signage/views/partials/signage-settings-list.html'"></div>
                        <span style="float:right">
                            <accountsToastSuccess></accountsToastSuccess>
                        </span>
                    </md-content>
                </md-tab>
                <md-tab label="New" md-on-select="signageSettings.form.action='Add' ">
                    <md-content class="md-padding">
                        <span ng-show="signageSettings.showNewProgresBar" style="position: inherit;bottom: 15px;">
                            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                        </span>
                        <div ng-include="'client/modules/signage/views/partials/signage-settings-form.html'"></div>
                        <span style="float:right">
                            <accountsToastError></accountsToastError>
                        </span>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card>
    </md-content>
</div>
