<div layout="row" style="padding-left:20px">
    <md-input-container flex="30">
        <label>Sender</label>
        <md-select ng-change="smsSender.refreshContactList()" ng-model="smsSender.selectedOwner">
            <md-option ng-repeat="owner in smsSender.contactOwners" value="{{owner}}">
                <span style="padding:5px">{{owner}}</span>
            </md-option>
        </md-select>
    </md-input-container>
</div>
<md-virtual-repeat-container id="vertical-container">
    <div class="repeated-item" flex ng-repeat="contact in smsSender.contactList">
        <div class="md-list-item-text" style="padding-top:20px">
            <span layout="row" style="padding-left:2%">
                <span flex>{{$index+1}}. {{contact.mobile}}</span>
            </span>
        </div>
    </div>
</md-virtual-repeat-container>
