<div layout="row" style="padding-left:20px">
    <md-input-container flex="30">
        <label>Sender</label>
        <md-select ng-change="smsSender.refreshSenderList()" ng-model="smsSender.selectedSender">
            <md-option ng-repeat="sender in smsSender.smsSenders" value="{{sender}}">
                <span style="padding:5px">{{sender}}</span>
            </md-option>
        </md-select>
    </md-input-container>
    <span flex="10">
        <!-- Spacer //-->
    </span>
    <md-input-container ng-show="smsSender.selectedSender" flex="30">
        <label>Status</label>
        <md-select ng-change="smsSender.refreshSenderList()" ng-model="smsSender.selectedStatus">
            <md-option ng-repeat="status in smsSender.smsStatus" value="{{status}}">
                <span style="padding:5px">{{status}}</span>
            </md-option>
        </md-select>
    </md-input-container>
</div>
<md-virtual-repeat-container id="vertical-container">
    <div ng-show="!!smsSender.selectedSender">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools" layout="row" style="padding-left:2%;">
            <span flex="15">time</span>
            <span flex="15">recipient</span>
            <span flex="10">status</span>
            <span flex="55">message</span>
            </div>
        </md-toolbar>
    </div>

    <div class="repeated-item" flex ng-repeat="sms in smsSender.smsSenderList | orderBy:'-requestTime'" >
        <div class="md-list-item-text" style="padding-top:20px">
            <span layout="row" style="padding-left:2%">
                <span flex="15">{{sms.requestTime | date:'short'}}</span>
                <span flex="15">{{sms.recipient}}</span>
                <span flex="10">{{sms.status}}</span>
                <span flex="55">{{sms.content}}</span>
            </span>
        </div>
    </div>
</md-virtual-repeat-container>
