
<md-virtual-repeat-container id="vertical-container">
    <div class="repeated-item" flex ng-repeat="message in smsSender.messages" >
        <div class="md-list-item-text" style="padding-top:20px">
            <span layout="row" style="padding-left:2%">
                <span flex>{{$index+1}}. {{message.content}}</span>
            </span>
        </div>
    </div>
</md-virtual-repeat-container>
